button{
    padding: 1% 3% 1% 3%;
    background: rgb(6, 75, 75);
    color:white;
    border:3px solid rgb(29, 63, 61);
}
.buttonForActions{
    font-size: 1em;
    font-family: 'Signika', sans-serif;
    margin:1%;
}
body{
    background:url("https://lidtop.files.wordpress.com/2013/10/b5f.jpg");
}
input[text],
#label{
    color:black;
    margin-top:5%;
    font-size: 2em;
    font-family: 'Signika', sans-serif;
}
*{
    box-sizing: border-box;
}
#textBox{
    width:100%;
    border: 3px solid black;
}
#submitButton{
    padding: 1% 3% 1% 3%;
    background: rgb(6, 75, 75);
    color:white;
    margin:1%;
    font-size: 1em;
    border:3px solid rgb(29, 63, 61);
    font-family: 'Signika', sans-serif;
}
#buttonDisplayArea{
    border: 3px solid black;
    margin:2%;
    background: rgb(34, 33, 33);
}
.imageSize{
    
    margin-top:1%;
    height:200px;
    width:100%;
}
.imageBox{
    margin-top:1%;
    height:200px;
    width:100%;
}
.mainBox{
    height:200px;
    width:27%;
    float:left;
    margin:2%;
}
